drama_image/
data_scrapper/dramas_html/
.vscode/
__pycache__/
*.pyc
backend/runtime_data/
analytics_data/
backend/analytics_data/
backend/user_profiles/
user_profiles/
training/.git/
frontend/.git/
training/training_data/
training/models/
training/faiss_index/
training/checkpoints/
training/__pycache__
.DS_Store
.env
.env.*
.venv/
venv/
logs/
.idea/
*.log
.idea
.vscode/
.ipynb_checkpoints/
.vscode
PHASE2_STEP2_SUMMARY.md
Phase-to-implement.txt
SeoulMate_model_traning.zip
Korean Drama Thumbs Up GIF by The Swoon.gif
