drama_image/
data_scrapper/dramas_html/
.vscode/
__pycache__/
*.pyc
backend/runtime_data/
analytics_data/
backend/analytics_data/
backend/user_profiles/
user_profiles/
training/.git/
frontend/.git/
training/training_data/reranker_train.csv
.DS_Store
.env
.env.*
logs/
.idea/
*.log
.idea
.vscode/
.ipynb_checkpoints/
.vscode
PHASE2_STEP2_SUMMARY.md
Phase-to-implement.txt
